<body>
  <h2>File Upload</h2>
  <form action="https://sofa-apple-tree.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="key" value="uploads/${filename}">
      <input type="hidden" name="AWSAccessKeyId" value="AKIAJD7MUGSNUZEG3X4A">
      <input type="hidden" name="acl" value="public-read">
      <input type="hidden" name="success_action_redirect" value="http://localhost/success.html">
      <input type="text"   name="x-amz-algorithm" value="AWS4-HMAC-SHA256" />
      <input type="text"   name="x-amz-credential" value="AKIAJD7MUGSNUZEG3X4A/20170525/us-east-2/s3/aws4_request" />
      <input type="text"   name="x-amz-date" value="20170525T00000000Z" />
      <input type="text" name="policy" value={{self.policy}}>
      <input type="hidden" name="signature" value="f3da7151dde3d6fbdb0c17de0ba279cda7c55741b114acad874b0e255b02a1d1">
      <input type="hidden" name="Content-Type" value="image/jpeg">

      <!-- Include any additional input fields here -->

      File to upload to S3:
      <input name="file" type="file">
      <br>
      <input type="submit" value="Upload File to S3">
    </form>
</body>
